/* BORDERS */
.b1 {
    border: 30px solid #2E4F4F;
}

.b2 {
    border: 30px solid rgb(255, 255, 255);
}


.container-fluid {
    background-color: aqua;
}

.class1 {
    background-color: #3E54AC;
    padding: 50px 0;
}

.class12 {
    background-color: #94AF9F;
    padding: 50px 0;
}

.class2 {
    background-color: #FFBFA9;
    padding: 300px 0;
}

.class3 {
    background-color: #655DBB;
    padding: 350px 0;
}

.class31 {
    background-color: #94AF9F;
    padding: 350px 0;
}

.class5 {
    background-color: #62CDFF;
    padding: 200px 0;
}

.class51 {
    background-color: #B46060;
    padding: 200px 0;
}

.class6 {
    background-color: #3F497F;
    padding: 250px 0;
}

.class61 {
    background-color: #5D9C59;
    padding: 100px 0;
}

.class7 {
    background-color: #159895;
    padding: 80px 0;
}

.class71 {
    background-color: #EBB02D;
    padding: 25px 0;
}

.class82 {
    background-color: #D864A9;
    padding: 25px 0;
}

.class81 {
    background-color: #B46060;
    padding: 25px 0;
}

.class82 {
    background-color: #5D9C59;
    padding: 25px 0;
}

.class9 {
    background-color: #FC2947;
    padding: 60px 0;
}

.class91 {
    background-color: #159895;
}

.class92 {
    background-color: #F3DEBA;
    padding: 25px 0;
}

.class93 {
    background-color: #EBB02D;
    padding: 25px 0;
}

.class94 {
    background-color: #B2A4FF;
    padding: 25px 0;
}

.class95 {
    background-color: #B8621B;
    padding: 25px 0;
}

.class10 {
    background-color: #7D9D9C;
    padding: 60px 0;
}

.class11 {
    background-color: #DBA39A;
    padding: 200px 0;
}

.class12 {
    background-color: #A084CA;
    padding: 200px 0;
}

.class20{
    background-color: #395B64;
    padding: 200px 0;
}

.class30 {
    background-color: #5F8D4E;
    padding: 60px 0;
}

.class31 {
    background-color: #C689C6;
    padding: 200px 0;
}

.class32 {
    background-color: #AA8B56;
    padding: 200px 0;
}

.class40 {
    background-color: #AA8B56;
    padding: 200px 0;
}





