
.nav-contact{
    padding: 20px;
}
.navbar{
    padding: 35px;
}
.banner,
.features{
    height: 100vh;
}
.client{
    padding: 80px;
}
.design-cards{
    background-color: rgb(18, 158, 201); 
    padding: 100px;
}
.works,
.work{
    background-color: rgb(255, 255, 255);
    padding: 150px;
}
.features{
    background-color: aqua;
}
.unique{
    padding-top: 50px;
}
.feature-cards{
    padding: 100px;
    background-color: rgb(82, 46, 180);
}
.clients{
    background-color: rgb(226, 43, 58);
    padding: 100px;
}
.quote{
    background-color: rgb(17, 52, 148);
    padding: 250px;
}
.exhibition{
    padding: 130px;
    background-color: rgb(12, 168, 116);
}
.premium{
    padding: 50px;
    background-color: rgb(255, 255, 255);
}
.footer{
    padding: 200px;
    background-color: blueviolet;
}